*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 30, 12, 0.7),rgba(4, 30, 12, 0.7)),url(images/tractorinfield.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
.nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
    text-align: top;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background:#36b8f4;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size:62px;
}
.text-box p{
    margin:10px 0 40px;
    font-size:14px;
    color:#fff;
}
.donate-btn-middle{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size:13px;
    background: transparent;
    position:relative;
    cursor: pointer;
}
.donate-btn-middle:hover{
    border: 1px solid #36b8f4;
    background: #36b8f4;
    transition: 0.5s;
}

/*about*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:rgba(0, 0, 0, 0.89);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.row{
    margin:5%;
    display: flex;
    justify-content: space-between;
}
.about-goals{
    flex-basis: 30%;
    background:#36b8f43b;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition:0.5;
}
.h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;
}
.about-goals:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*why it matters*/

.whysa{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.whysacol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow:hidden;
}
.whysacol img{
    width: 100%;
}

/*donate*/
.donate{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.proceedtodonate{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size:16px;
    background: transparent;
    position:relative;
    cursor: pointer;
}
.proceedtodonate:hover{
    border: 1px solid #36b8f4;
    background: #36b8f4;
    transition: 0.5s;
}

.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/field2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}